<html>
<head>
	<title>
  	<title>
  NEW RECIPE
  <meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 </title>
 <link rel="stylesheet" href="lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css">
 <link rel="stylesheet" href="css/main2.css">
   </title>
   </title> 
</head>
<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #eee;">
  <a class="navbar-brand" href="recipepage.html">Recipees</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profilepage.html">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
    </ul>
  </div>
</nav>
<body>
  <div class="container addclass">
<p><input type = "radio"name="gender" value="male">ADD RECIPE</p>
<p><input type = "radio"name="gender" value="female">VIEW OR MODIFY RECIPE</p>
<p><input type = "radio"name="gender" value="male">DELETE RECIPE</p>
<p><button type = "submit"> SUBMIT </button></p>
</form>
</div>
</body>
<footer class="footer">
  <p>Copyright 2016
  <a href="http://facebook.com/zionabiola">follow us on facebook</a> and <a href="http://twitter.com/@zion">twitter</a>
  you can also find us on Instagram</p>
</footer>
</html>