<DOCTYPE! html>
<head>
	<title>
	<meta charset="utf-8">
	 NEW RECIPE
	 </title>
	 <link rel="stylesheet" href="lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css">
	 <link rel="stylesheet" href="css/main2.css">
</head>
<header class="recipeheader">
		<h2>
	WELCOME TO NEW RECIPE
		</h2>
	<div>
		<nav>
	<ol>
	<l1><a href = "register.html"class = "selected">New registration</a></l1>
	<l2><a href = "login.html">Already a user?</a></l2>
	<l3><a href = "about.html">View our testimonies</a></l3>
	</ol><br/>
		</nav>
	</header>
<body>
	<img src = 'img/food.jpg' alt = "Photo of the don" class="profile-photo">
	<div class ="recipesection recipesection2"><p><u><b>THE HOME OF ALL RECIPES</b></u> </p>
	<p><i>THE SECRET OF EVERY SUCCESSFUL COOK</i></p></div>
</body>
	<footer class="footer">
	<p>copyright 2016<a href="http://facebook.com/zionabiola">follow us on facebook</a> and <a href="http://twitter.com/@zion">twitter</a></p>
	</footer>
</html>
