<html>
<head>
	<title>
  NEW RECIPE
   </title>
   <h1> WELCOME USERNAME TO NEW RECIPE</h1>
    <h2> The Home Of All Recipes</h2> 
</head>
<h2>PROFILE PAGE</h2>
<label for "name"><b>NAME:</b><br> OLAGUNJU SODIQ ADETOMIWA</label><p>
<label for "age"><b>AGE:</b><br> 31 </label></p>
<p><label for "dateofbirth"><b>Date Of Birth:</b><br> OLAGUNJU SODIQ ADETOMIWA</label></p>
<label for "favorite"><b>FAVORITE RECIPE:</b><br> AMALA AND EWEDU</label><p>
<label for "Name"><b>ADDRESS:</b><br> No 24, SODIQ ADETOMIWA STREET, IBADAN OYO STATE</label></p>


</html>